<label>
  Book Name:
  <div>
    <form [formGroup]="searchBooksForm" (ngSubmit)="searchBooks(searchBooksForm.value)">
      <input id="bookname" type="text" formControlName="bookname" placeholder="Enter Book name...">
      <button class="button" type="submit">Search</button>
    </form>
  </div>>
  <ng-container>
    <p>Search Result</p>>
    <ul>
      <li *ngFor="let book of bookList$">
        {{book.id}}
        {{book.name}}
        {{book.pages}}
      </li>
    </ul>>
  </ng-container>
</label>